*{margin: 0; padding: 0}
ul, ol, li {
    list-style: none;
}
html, body {
    height: 100%;
}
body {
    font-size: 14px;
    color: #333;
}
.app {
    margin: 40px auto 0;
    width: 100%;
    max-width: 640px;
    min-height: 100%;
    text-align: center;
}
.app-title {
    margin-bottom: 12px;
}
.map-wrap {
    position: relative;
    height: 0;
    padding-bottom: 47%;
    background-color: #f1f1f1;
}
.map-wrap > div {
    position: absolute !important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.info-area {
    margin-top: 16px;
    text-align: left;
}
.weather-info-wrap {
    margin-top: 16px;
}
.weather-info-list {
    padding: 16px 12px;
    border-top: 1px solid #ddd;
}
.weather-info-list:first-child {
    border-top: none;
}


.btn {
    padding: 0 8px;
    min-width: 75px;
    height: 34px;
    line-height: 34px;    
    border: 1px solid #ebebeb;
    border-radius: 4px;
    outline: none;
    background-color: #fff;
    box-sizing: border-box;
}
